webapp/tpgwsapi*
lighttpd1.4/
**/*.log
tinypgwebsocketapi.cbp
tinypgwebsocketapi.layout
NOTES.md
.vscode/

**/Makefile
**/Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
**/.deps/
**/*.exe
**/*.o
stamp-h1
ar-lib
config.guess
config.sub
ltmain.sh

