bin/
lighttpd1.4/
**/*.log
tinypgwebsocketapi.cbp
tinypgwebsocketapi.layout

#**/.deps/
#**/Makefile
#**/Makefile.in
#aclocal.m4
#autom4te.cache/
#compile
#config.h.in*
#config.status
#configure
#depcomp
#install-sh
#missing
#config.h
#stamp-h1

